body{
    height: 100vh !important;
}

@font-face {
    font-family: iransans; 
    src: url("../font/iransansweb2.ttf");
}

@font-face {
    font-family: sahel_black;
    src: url('../font/SahelBlack.ttf');
}

*{
    font-family: iransans;
}

.sahelblack{
    font-family: sahel_black !important;
}

a{
    text-decoration: none !important;
}

a:hover{
    color: black;
    text-shadow: black 0.05em 0.05em 0.2em;
}

